

"""
Hello, i'd like to ask you If there is any possibility to make my thought funcitonal.

I would like at web "https://streamelements.com/casinodaddy/store/"

to make a simple bot,

that will check the "Sold Out" quantity on "Gamdom gift cards" in the store and whenever it changes to f.e.: 10 items left, It would send me on discord API notification.

that the store has been restocked.
Thank you very much!



I'd like just a constant for example 30 minutes checker,

that will check the quantity of particular item. I have no problem of running some script 24/7, but I have no idea about programming, so the setup would be completely up to you, just to give me the exact result.

I am sorry If i misunderstood your message! Thank you
"""


"""

I have to build a system that will check "Gamdom Gift Cards" data every hour and send notification on Discord server.

The system feature will be:
	- Scraping data from this website "https://streamelements.com/casinodaddy/store/", example "gift": 50
	- The system will check  If "gift" bellow 10 or not
	- If "gift" bellow 10 it will send a notification on Discord

I am using Pyhon request library of this project.


But I am unfamliar with Discrod, what about Discord API notification? How  to do that or what will be best practice of this?

Give me details of my project
"""





