{% extends 'base.html' %}

{% block content %}
<!-- Body content -->
<div class="container mt-5">
<h3 class="fw-bolder">The Ultimate Tags Scraper</h3>
<form method="post" action="{% url 'home_page' %}">
  {% csrf_token %}
  <div class="row">
    <div class="col">
      <div class="input-group mb-3">
        {{ form.tag_name }}
        <button class="btn btn-outline-secondary bg-primary text-white fw-bold" type="submit">Start</button>
      </div>
    </div>
  </div>
</form>
</div>
<!-- Body content end-->
{% endblock %}
