<!DOCTYPE html>
<html>
  <head>
    <script>
      async function sendRequest() {
        for (let i = 0; i < 25; i++) {
          const response = await fetch('http://localhost:6800/daemonstatus.json');
          const data = await response.json();
          document.querySelector('h1').innerText = data.running;
          document.querySelector('h2').innerText = data.finished;
          await new Promise(resolve => setTimeout(resolve, 500));
        }
      }
    </script>
  </head>
  <body onload="sendRequest()">
    <h1></h1>
    <h2></h2>
  </body>
</html>