{% extends 'base.html' %}

{% block content %}
<table>
  <thead>
    <tr>
      <th>Title</th>
      <th>Description</th>
      <th>Published</th>
    </tr>
  </thead>
  <tbody>
    {% for i, channel_data in data.items %}
      <tr>
        <td>{{ channel_data.title }}</td>
        <td>{{ channel_data.description }}</td>
        <td>{{ channel_data.published }}</td>
      </tr>
    {% endfor %}
  </tbody>
</table>


<form  method = "post">
    {% csrf_token %}
    {{ form }}
    <input type="submit" value="Submit">
</form>
{% endblock content %}
